// Definir la fuente por defecto para la aplicación
$font-family: "Arial, sans-serif";

// Variables para el tema claro
$primary-color-light: #6200ea;
$background-color-light: #ffffff;
$text-color-light: #003087; // Azul oscuro para el texto en modo claro
$card-background-light: #f5f5f5;
$card-border-light: #e0e0e0;

// Variables para el tema oscuro
$primary-color-dark: #bb86fc;
$background-color-dark: #121212;
$text-color-dark: #66b0ff; // Azul claro para el texto en modo oscuro
$card-background-dark: #1e1e1e;
$card-border-dark: #424242;
